<!-- Navbar start -->
<div class="container-fluid fixed-top">
  <div class="container topbar bg-primary d-none d-lg-block">
      <div class="d-flex justify-content-between">
          <div class="top-info ps-2">
              <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">London Estate, Narok</a></small>
              <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">fruitables@gmail.com</a></small>
          </div>
          <div class="top-link pe-2">
              <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
              <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
              <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
          </div>
      </div>
  </div>
  <div class="container px-0">
      <nav class="navbar navbar-light bg-white navbar-expand-xl">
          <a href="{% url 'home' %}" class="navbar-brand"><h1 class="text-primary display-6">Fruitables</h1></a>
          <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="fa fa-bars text-primary"></span>
          </button>
          <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
              <div class="navbar-nav mx-auto">
                  <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                  <a href="{% url 'shop' %}" class="nav-item nav-link">Shop</a>
                  <div class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">More</a>
                      <div class="dropdown-menu m-0 bg-secondary rounded-0">
                          <a href="{% url 'testimonial' %}" class="dropdown-item">Testimonial</a>
                      </div>
                  </div>
                  <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
              </div>
              <div class="d-flex m-3 me-0 align-items-center">
                    <button class="btn btn-outline-secondary btn-md-square rounded-circle d-flex align-items-center justify-content-center me-3"
                        data-bs-toggle="modal" data-bs-target="#searchModal" style="width: 45px; height: 45px;">
                        <i class="fas fa-search text-primary"></i>
                    </button>
                
                    <a href="{% url 'cart_page' %}" class="btn btn-outline-secondary btn-md-square rounded-circle position-relative d-flex align-items-center justify-content-center me-3"
                        style="width: 45px; height: 45px;">
                        <i class="fa fa-shopping-cart text-dark"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                            style="top: -5px; right: -5px; height: 20px; min-width: 20px;">
                            {{ cart_count }}
                        </span>
                    </a>
                
                    {% if request.user.is_authenticated %}
                        <a href="" class="btn btn-outline-primary btn-md-square rounded-circle d-flex align-items-center justify-content-center me-3"
                            style="width: 45px; height: 45px;">
                            <i class="fas fa-user-circle"></i>
                        </a>
                
                        <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-md-square rounded-circle d-flex align-items-center justify-content-center"
                            style="width: 45px; height: 45px;">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-primary btn-md-square rounded-circle d-flex align-items-center justify-content-center"
                            style="width: 45px; height: 45px;">
                            <i class="fas fa-user"></i>
                        </a>
                    {% endif %}
                </div>
          </div>
      </nav>
  </div>
</div>
<!-- Navbar End -->